.leader {
    width: 90%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    left: 50%;
    top: 0;
    right: 50%;
    transform: translate(-50%,0);
}

.leader_me {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background-color: #18181b;
    margin-top: 25px;
}

.tag {
    font-size: 18px;
    font-weight: bold;
}

.name {
    font-size: 12px;
}

.leader_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #18181b;
    width: 90%;
    height: 70%;
    margin: auto;
    border-radius: 6px;
}

.leader_list p {
    margin: 0 auto 15px 0;
}

.leader_li {
    width: 90%;
    display: flex;
    
}
.leader_li .ml {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.m_l {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 90%;
    gap: 0;
    padding: 0;
    height: px;
    gap: 6px;
}

.m_l img {
    width: 45px;
    height: 45px;
    border-radius: 15px;
    margin: auto 15px;
}

.m_l p{
    margin: auto;
}

.mainmain {
    font-size: 33px;
    font-weight: bold;
}

.spn {
    font-size: 24px;
    font-weight: normal;
}

.maints {
    width: 90%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: ;
    padding: 15px;
    height: 45px;
}

.logots {
    margin: 0 0 0 0;
}

.maints div {
    margin: auto 0 auto auto;
}

.lmlm {
    position: ;
    width: 90%;
    margin: auto;
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.pp {
    width: 72px;
    height: 72px;
    background-color: white;
    color: black;
    border-radius: 45px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bold;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 18px;
}

code {
    color: rgb(174, 6, 6);
}

.copy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.copy p {
    font-size: 12px;
    background-color: #18181b;
    padding: 10px 15px;
    margin: 15px;
    border-radius: 6px;
    width: 80%;
    text-overflow: ellipsis;
}

.copy button {
    border-radius: 6px;
}

.in {
    width: 90%;
    height: 250px;
    background: #18181b;
    margin: auto;
    border-radius: 15px;
    margin-bottom: 0;
}

.inv {
    margin: 25px auto auto 0;
    font-size: 25px;
    font-weight: bold;
}

.lmlm h6 {
    font-size: 12px;
}

.in p,.leader_list .mll {
    font-size: 45px;
    font-weight: bold;
    rotate: -45deg;
    margin-left: auto;
    margin-top: 72px;
}